<h1>Welcome to the Kingdom of Beer</h1>
<h2>Current King of Beers: <%= link_to @beers.highest_rated.name, beer_path(@beers.highest_rated) %> - <%= @beers.highest_rated.average_rating %></h2>
<h2>Current King of Beer Styles: <%= link_to @styles.highest_rated.name, beer_path(@styles.highest_rated) %> - <%= @styles.highest_rated.average_rating %></h2>
<h3><%= link_to "Beers by Rating", best_path %> </h3>
<h3><%= link_to "Beers by Style", styles_path %></h3>
<h3><%= link_to "Certified Reviewers", users_path %></h3>
