<h1><%= @style.name %></h1>
  <h3>Average Rating: <%= @style.average_rating %></h3>
  <%= @style.description %><br>
  <% @style.beers.each do |beer| %>
  <h4><%= beer.name %></h4>
    <%= beer.description %><br><br>
    ABV%: <%= beer.abv %><br><br>
    Your Rating: <%= beer.rating %>/10<br>
  <% end %>
