<h1><%= @style.name %></h1>
<h3>Average Rating: <%= @style.average_rating %></h3>
<%= @style.description %><br>
<% @style.by_rating.each do |beer| %>
  <h4><%= link_to beer.name, beer_path(beer) %> - <%= beer.average_rating %><br></h4>
<% end %>
