<h1>Beer List</h1>
<h2>Current Beer Champion: <%= @beers.highest_rated.name %> - <%= @beers.highest_rated.average_rating %></h2>
<h3><%= link_to "Highest Rated Beers", best_path %> </h3>

<% @beers.each do |beer| %>
<h2><%= link_to beer.name, beer_path(beer) %></h2>
  <% if beer.reviews == [] %>
    <p>No Ratings Available</p>
  <% else %>
    Avg Rating: <%= beer.average_rating %><br><br>
  <% end %>
  <%= beer.description %>
<h4>Style: <%= link_to beer.style.name, style_path(beer.style) %></h4>
  <%= beer.style.description %><br><br>
  ABV%: <%= beer.abv %><br>

  <% if beer.reviews == [] %>
    <p>No Reviews Yet!</p>
  <% else %>
    <h4>Reviews:</h4>
    <% beer.reviews.each do |review| %>
      <%= review.user.name %> says: "<%= review.summary %>"<br>
      Rating: <%= review.rating %>/10 <br><br>
    <% end %>
  <% end %>
<% end %>
