
<h1>Create New Beer!</h1>

<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br><br>
    <%= f.label :abv %><br>
    <%= f.text_field :abv %><br><br>

    <h3>Pick Existing Style</h3>
    <div class="field">
      <%= f.collection_radio_buttons(:style_id, Style.all, :id, :name) %><br><br>
    </div>

    <h3>Or Create New Style</h3>
    <%= f.fields_for :style do |addr| %>
      <%= addr.label :name %><br>
      <%= addr.text_field :name %><br><br>
      <%= addr.label :description %><br>
      <%= addr.text_area :description %><br><br>
    <% end %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
