<h2><%= @beer.name %></h2>
<%= link_to "Write Review!", new_review_path %>

<% if @beer.reviews == [] %>
  <p>No Ratings Available</p>
<% else %>
  <h4> Avg Rating: <%= @beer.average_rating %></h4>
<% end %>

<h4>Description:</h4>
<p><%= @beer.description %></p>

<h4>Style: <%= link_to @beer.style.name, style_path(@beer.style) %></h4>

<p>ABV%: <%= @beer.abv %></p>

<% if @beer.reviews == [] %>
  <p>No Reviews Yet!</p>
<% else %>
  <h4>Reviews:</h4>
  <% @beer.reviews.each do |review| %>
    <%= link_to review.user.name, user_path(review.user) %>
     - <%= review.rating %>/10,
    <%= link_to "See Review", beer_review_path(@beer, review) %><br><br>
  <% end %>
<% end %>
