<h2><%= @beer.name %></h2>
<%= link_to "Write Review!", new_review_path %>

<% if @beer.reviews == [] %>
  <p>No Ratings Available</p>
<% else %>
  <h4> Avg Rating: <%= @beer.average_rating %></h4>
<% end %>

<h4>Description:</h4>
<p><%= @beer.description %></p>

<h4>Style: <%= link_to @beer.style.name, style_path(@beer.style) %></h4>
<h4><%= link_to "Description", style_path(@beer.style), :class => "see_description" %></h4>
<div class="description">
  <ol>
  </ol>
</div>

<p>ABV%: <%= @beer.abv %></p>

<% if @beer.reviews == [] %>
  <p>No Reviews Yet!</p>
<% else %>
  <h4>Reviews: <%= link_to "See All", beer_reviews_path(@beer), :class => "see_reviews" %></h4>
  <div class="reviews">
    <ol>
    </ol>
  </div>
<% end %>

<%= form_for([@beer, @review]) do |f| %>
  Summary: <%= f.text_area :summary %><br><br>
  Rating: <%= f.text_field :rating %><br><br>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :beer_id, :value => @beer.id %>
  <input type="submit" autocomplete="off">
<% end %>
