<h2><%= @beer.name %></h2>
<%= link_to "Write Review!", new_review_path %>

<% if @beer.reviews == [] %>
  <p>No Ratings Available</p>
<% else %>
  <h4> Avg Rating: <%= @beer.average_rating %></h4>
<% end %>

<h4>Description:</h4>
<p><%= @beer.description %></p>

<h4>Style: <%= link_to @beer.style.name, style_path(@beer.style) %></h4>

<p>ABV%: <%= @beer.abv %></p>

<% if @beer.reviews == [] %>
  <p>No Reviews Yet!</p>
<% else %>
  <h4>Reviews: <%= link_to "See All", beer_reviews_path(@beer), :class => "see_reviews" %></h4>
  <div class="reviews">
    <ol>
    </ol>
  </div>

  <%= form_for(@review, :url => beer_reviews_path(@beer)) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    Summary: <%= f.text_area :summary %><br><br>
    Rating: <%= f.text_field :rating %><br><br>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.hidden_field :beer_id, :value => @beer.id %>
    <%= f.submit "Submit" %>
  <% end %>

<% end %>
