
<h1>Review Beer!</h1>
<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Summary: <%= f.text_area :summary %><br><br>
  Rating: <%= f.text_field :rating %><br><br>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <div class="field">
    <%= f.collection_radio_buttons(:beer_id, Beer.all, :id, :name) %><br><br>
  </div>
  <%= f.submit "Submit" %>
<% end %>
