<!DOCTYPE html>
<html>
  <head>
    <title>DrinkManager</title>

    <%= csrf_meta_tags %>
    <%= link_to "Sign Up", new_user_path %> | <%= link_to "Login", login_path %> | <%= link_to("Login with facebook", "/auth/facebook") %> <br><br>
    <%= link_to "Homepage", homepage_path %> | <%= link_to "Beers by Rating", best_path %> | <%= link_to "Beers by Style", styles_path %> | <%= link_to "Certified Reviewers", users_path %> |
 <%= link_to "Add Beer", new_beer_path %> | <%= link_to "Add Style", new_style_path %>
 <% if @user %>
    <% if @user.id != nil %>
      | <%= link_to "Add Review", new_review_path %>
      | <%= link_to "My Reviews", user_path(@user) %>
    <% end %>
 <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <br><br> <%= button_to 'Logout', logout_path, :method => :delete %><br>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
