<!DOCTYPE html>
<html>
  <head>
    <title>DrinkManager</title>
    <%= csrf_meta_tags %>
    <%= link_to "Homepage", homepage_path %> | <%= link_to "Add Beer", new_beer_path %> | <%= link_to "Add Style", new_style_path %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
