<!DOCTYPE html>
<html>
  <head>
    <title>The Beer Fridge</title>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/homepage">The Beer Fridge</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/login">Login</a></li>
            <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
            <% if @user %>
              <% if @user.id != nil %>
                <li><%= link_to "My Reviews", user_path(@user) %></li>
              <% end %>
            <% end %>
            <li><%= link_to "Beers by Rating", best_path %></li>
            <li><%= link_to "Beers by Style", styles_path %></li>
            <li><%= link_to "Certified Reviewers", users_path %></li>
            <li><%= link_to "Add Beer", new_beer_path %></li>
            <li><%= link_to "Add Style", new_style_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a>Github Repo</a></li>
              &nbsp
              <a href="https://github.com/storywr/the-beer-fridge">
                <img id="gitlogo" src="https://pbs.twimg.com/profile_images/616309728688238592/pBeeJQDQ.png" alt="edit" style="height:50px;"/>
              </a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
